/* Pour les écrans >= 480px */
@media screen and (min-width: 480px) {
    /* Photo de Laure dans page info */
    .page-infos img.laure {
        float: left;
        margin-bottom: 20px;
        margin-right: 5%;
    }

    /* 3 cols sur page d'acceuil */
    .page-accueil ul.realisations li {
        flex-basis: calc(33% - 20px); /* Pas oublier de soustraire la marge (gap) */
    }
}

/* Pour les écrans >= 660px */
@media screen and (min-width: 660px) {
    /* Passage en 2 cols sur page contact */
    .page-contact .col1,
    .page-contact .col2 {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding: 2.5%;
    }

    /* Menu passe en deux cols */
    header {
        display: flex;
        justify-content: space-between;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    header .logo {
        text-align: left;
        margin: 0;
    }

    header .nom {
        font-size: 2.25rem;
    }

    header .metier {
        font-size: 1.5rem;
    }

    header nav ul li a[href="index.html"] {
        display: inline-block;
    }
}

/* Pour les écrans >= 910px */
@media screen and (min-width: 910px) {
    /* Largeur max au main */
    main {
        max-width: 910px;
        margin-right: auto;
        margin-left: auto;
    }

    /* 3 cols sur page d'acceuil */
    .page-accueil ul.realisations li {
        flex-basis: calc(25% - 20px); /* Pas oublier de soustraire la marge (gap) */
    }
}